// This file produces no actual CSS,
// only variables, mixins, and functions

//    Colors
// ==================
$color-mint: #aae7b0;
$color-orange: #ff905c;
$color-charcoal: #222;
$color-gray-dk: #6c7880;
$color-blue-lt: #e9f0f4;
$color-blue-md: #658daa;


//    Fonts
// ==================
$font-headings: 'lato', sans-serif;
$font-copy: 'noto serif', serif;
$font-light: 200;
$font-regular: 400;
$font-bold: 700;
$font-heavy: 900;


//    Mixins
// ==================
@mixin menu-text {
   letter-spacing: 0.2em;
   text-transform: uppercase; 
}